fastapi==0.134.0
uvicorn==0.27.1
SQLAlchemy==2.0.47
pydantic==2.12.5
pydantic-settings==2.13.1
pg8000==1.30.5
python-multipart==0.0.9

# Telephony
twilio==9.10.2

# Vector DB
pinecone==8.1.0

# PDF Extraction
pdfplumber==0.11.9

# AI & Cloud Ecosystem
google-cloud-storage==2.19.0
google-cloud-aiplatform==1.71.1
google-cloud-speech==2.25.0
google-cloud-texttospeech==2.16.0
websockets==16.0
requests==2.32.5